$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
.App {
  height: 100% !important;
}
#map {
  margin: 0 auto;
  position: fixed;
  margin-top: 6%;
  z-index: 500;
  height: 90%;
  width: 50%;
}
.mapContainer {
  @media (max-width: $screen-md) {
    display: none;
  }
}
img {
  @extends .img-responsive;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.navbar {
  height: 10%;
  @media (max-width: $screen-md) {
    height: 8%;
  }
}

.apartments {
  margin-top: 8%;
  @media (max-width: $screen-md) {
    margin-top: 10%;
  }
  @media (max-width: $screen-sm) {
    margin-top: 14%;
  }
  @media (max-width: $screen-xs) {
    margin-top: 18%;
  }
}

.my-gallery-class {
  @media (max-width: $screen-md) {
    & div {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.info {
  height: 50px;
  width: 60px;
  padding: 0;
  font-size: 1.2em;
  z-index: 200;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  text-align: center;
  cursor: pointer;
  & div.listingPrice {
    background-color: white;
    position: relative;
    top: 10px;
    height: 30px;
    padding: 5px;
    margin: 0;
    z-index: 1;
  }
  & div.listingPrice::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 30px;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    z-index: 1;
  }
}

.selected {
  z-index: 1000;
}

.selected div.listingPrice {
  background-color: blue;
  color: white;
}

.selected div.listingPrice::after {
  border-color: blue transparent transparent transparent;

}


.currentInfoBox {

}
.listingContent {
  z-index: 750;
  width: 300px;
  img {
    width: 100%;
    z-index: 1000;
  }
}

