$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 100px;
}
#root {
  height: 100%;
}
.App {
  height: 100% !important;
}
#map {
  margin: 0 auto;
  position: fixed;
  z-index: 500;
/* Firefox */
height: -moz-calc(100% - 100px);
/* WebKit */
height: -webkit-calc(100% - 100px);
/* Opera */
height: -o-calc(100% - 100px);
/* Standard */
height: calc(100% - 100px);
  width: 50%;
}
.mapContainer {
  @media (max-width: $screen-md) {
    display: none;
  }
}
img {
  @extends .img-responsive;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.navbar {
  z-index: 950;
  height: 100px;

}

.apartments {
  padding: 40px 20px;
}

.my-gallery-class {
  @media (max-width: $screen-md) {
    & div {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.info {
  height: 50px;
  width: 70px;
  padding: 0;
  font-size: 1.2em;
  z-index: 200;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  text-align: center;
  cursor: pointer;
  & div.listingPrice {
    background-color: white;
    position: relative;
    top: 10px;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 0;
    z-index: 1;
  }
  & div.listingPrice::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 30px;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    z-index: 1;
  }
}

.selected {
}

.selected div.listingPrice {
  background-color: blue;
  color: white;
}

.selected div.listingPrice::after {
  border-color: blue transparent transparent transparent;

}


.currentInfoBox {

}
.listingContent {
  z-index: 750;
  width: 300px;
  background-color: white;
  padding: 5px;
  img {
    max-height: 200px;
    z-index: 1000;
  }
}
.googleSearch {
  z-index: 1000;
  display: none;
  @media (max-width: $screen-md) {
    display: block;
  }
}

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-collapse {
  background-color: rgb(248,248,248);
}

.geosuggest {
  display: none;
  @media (max-width: $screen-md) {
    display:block;
  }
}
//bootstrap collapse breakpoint override
@media (max-width: $screen-md) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
